@import "base";

// HEADER START
header {
  nav {
    padding: 2em;
    // LOGO
    .logo {
      h2 {
        color: red;
        font-weight: bolder;
        font-size: 1vw;
        animation-duration: 5s;

        span {
          color: black;
          font-size: 1.5vw;
        }
      }
    }
  }
}
